/* #demo{
    border: 2px solid;
    height: 200px;
    width: 200px;
    background-color: blue;
    margin: 200px;
    /* transition: height 5s, width 5s; */
    /* transition-duration: 5s; */
    /* transition-delay: 5s; */
    /* transition-property: height,width; */
    /* transition-duration: 5s; */
    /* transition-timing-function: linear; */
    /* transition-timing-function: ease; */
    /* transition-timing-function: ease-in; */
    /* transition-timing-function: ease-out; */
    /* transition-timing-function: ease-in-out; */


/* } */
/* #demo:hover{ */
    /* background-color: red; */
    /* transform: translate(250px, 200px); */
    /* transform: translateX(100px); */
    /* transform: translateY(200px); */
    /* transform: translateY(-200px); */
    /* transform: rotate(85deg); */
    /* transform: rotate(-95deg); */
    /* transform: rotateX(60deg); */
    /* transform: scale(5,5); */
    /* transform: scaleY(5); */
    /* transform: scaleX(5); */
    /* transform: skew(15deg, 10deg); */
    /* transform: skewX(25deg); */
    /* transform: skewY(135deg); */
    /* transform: skewY(-135deg); */
    /* height: 400px;
    width: 400px; */
    /* width: 800px; */
    
/* }  */

#demo1{
    border: 5px solid red;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    overflow: hidden;
}

#demo1 img{
    height:100%;
    width:100% ;
    border-radius: 100%;
    transition: ease 1s;
    /* transition-timing-function: ease-in; */
    /* transition-duration: 5s; */
}
#demo1 img:hover{
    /* height: 200px;
    width: 200px; */
    /* transform: translate(200px,200px); */
    /* transform: scale(2);  */
    /* for zooming */
    /* transform: rotateX(45deg); */
    transform: rotate(360deg);
    /* transform: rotateY(180deg); */

    cursor: pointer;
}