*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
ol{
    border: 2px solid ;
    /* padding: 0%; */
    list-style: none;
    /* display: flex; */
    /* display: inline-flex; */
    /* width: 70%; */
    /* display: none; */
    /* visibility: hidden; */


    /* justify-content: center; */
    /* justify-content: start; */
    /* justify-content: end; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */


    /* height: 300px; */
    /* align-items: flex-start; */
    /* align-items: center; */
    /* align-items: end; */
    /* display: grid;
    place-items: center; */
    /* position: absolute;
    top: 50%;
    left: 25%; */

    
    /* flex-wrap: wrap; */
    /* flex-direction: column;
    flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-direction: row; */


    /* height: 300px;
    width: 500px;
    display: flex;
    flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */

    align-content: center;
    justify-content: center;
    justify-content: space-around;
    height: 500px;
    flex-wrap: wrap;
    display: flex;
}
ol li{
    border: 2px solid;
    height: 80px;
    width: 80px;
    /* padding: 10%;
    margin: 5%; */

}