#demo1 {
    border: 2px solid;
    background-color: red;
    text-align: center;
  }
  p {
    border: 2px solid;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    background-color: bisque;
    text-decoration: none;
  }