/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */
#demo{
    height: 300px;
    width: 300px;
    background-color: bisque;
    border: 2px solid bisque;
    position: absolute;
    z-index: 2;
}
#demo1{
    height: 300px;
    width: 300px;
    background-color: rgb(159, 97, 21);
    border: 2px solid rgb(159, 97, 21);
    position: absolute;
    top: 35px;
    left: 55px;
    z-index: 1;
}
#demo2{
    height: 300px;
    width: 300px;
    background-color: hsla(18, 93%, 48%, 0.783);;
    border: 2px solid hsla(18, 93%, 48%, 0.783);
    position: absolute;
    top: 50px;
    left: 85px;
    /* z-index: -1; */
}
h1{
    top: 350px;
    position: absolute;
}
